/* --- Modal Backdrop --- */
.reply-modal .modal-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

/* --- Elements inside the Modal --- */

.original-comment-content {
  font-size: 1rem;
  color: var(--grey-3);
  padding-left: 12px;
  border-left: 4px solid var(--grey-5);
  max-height: 100px; /* Prevents long comments from taking too much space */
  overflow-y: auto;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* This is the number of lines to show */
  line-clamp: 4;
  border-radius: 4px;
  line-height: 1.5rem;
  margin-bottom: 10px;
}



/* --- Animation --- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* This is the anchor for the emoji picker */
.reply-modal-footer .post-actions {
  position: relative;
  margin-bottom: 0.25rem;
}

/* --- Dark Theme Overrides --- */
@media (prefers-color-scheme: dark) {
  .original-comment-content {
    color: var(--grey-5);
    border-left-color: var(--grey-4);
    background-color: var(--primary-bg);
  }
}
