.terms-and-conditions-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--primary-bg);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.terms-and-conditions-container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.terms-and-conditions-container p {
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.terms-and-conditions-container .last-updated {
    text-align: center;
    font-size: 0.875rem;
    color: var(--grey-4);
    margin-bottom: 2rem;
}

.terms-and-conditions-container h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.terms-and-conditions-container h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
}

.terms-and-conditions-container h4 {
    font-size: 1.125rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.terms-and-conditions-container ol{
    text-decoration: none;
    list-style: none;
}
.terms-and-conditions-container ul{
    margin-left: 4rem;
    margin-bottom: 1rem;
}

.terms-and-conditions-container a {
    color: var(--grey-4);
    margin-left: 5px;
}

.terms-and-conditions-container table{
    text-align: left;
    margin-bottom: 1rem;
}
.terms-and-conditions-container th, .terms-and-conditions-container td{
    padding: 10px;
    border: 1px solid var(--border-color);
    color: var(--grey-1);
}

@media (prefers-color-scheme: dark) {
    .privacy-policy-container {
        background-color: var(--primary-bg);
    }
    .privacy-policy-container th, .privacy-policy-container td{
        border: 1px solid var(--grey-6);
        color: var(--grey-1);
    }
}