.message-bubble {
    display: flex;
    margin-bottom: 10px;
    max-width: 75%;
    /* Limit bubble width */
}

.message-content {
    padding: 0.25rem 1rem;
    border-radius: 18px;
    word-wrap: break-word;
    /* Allow long words to break */
}

.message-sender-name {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 3px;
    color: var(--text-secondary);
}

.message-text {
    font-size: 0.95rem;
    line-height: 1.4;
}

.message-text i {
    /* Style for deleted messages */
    color: var(--text-secondary);
    font-style: italic;
}


.message-timestamp {
    font-size: 0.7rem;
    text-align: right;
}

/* Styling for messages sent by the current user */
.own-message {
    margin-left: auto;
    /* Push to the right */
    flex-direction: row-reverse;
    /* Put content first visually */
}

.own-message .message-content {
    background-color: var(--base);
    /* Use theme color */
    color: white;
    /* Ensure text is readable */
    border-bottom-right-radius: 4px;
    /* Slightly different shape */
}

.own-message .message-timestamp {
    color: rgba(255, 255, 255, 0.7);
    /* Lighter timestamp */
}

/* Styling for messages received from others */
.other-message {
    margin-right: auto;
    /* Push to the left */
}

.other-message .message-content {
    background-color: var(--grey-6);
    /* Light grey background */
    border-bottom-left-radius: 4px;
    /* Slightly different shape */
}
