/* ================================================= */
/* SHARED Reusable Form & Component Styles within the auth pages */
/* ================================================= */
.auth-container {
    /* --- Mobile First Styles (Default) --- */
    margin: 10px auto;
    /* Center the container */
    padding: 24px;
    background-color: var(--background);
    border: 1px solid var(--grey-6);
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 4px 15px var(--grey-7);
    text-align: center;
    width: 90%;
    /* Use a percentage width for flexibility */
    max-width: 450px;
}

.auth-container-title {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: var(--grey-1);
}

.auth-container-subtitle {
    margin-bottom: 20px;
    font-size: 1em;
    color: var(--grey-4);
}


.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.auth-container .form-group {
    text-align: left;
    position: relative;
}

.auth-container .form-group label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 1em;
    color: var(--grey-3);
}

.auth-container .form-group input {
    width: 100%;
    padding: 8px;
    background-color: var(--grey-7);
    border: 1px solid var(--grey-6);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--grey-3);
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.auth-container .form-group input:focus {
    outline: none;
    border-color: var(--base);
    color: var(--grey-1);
}

/* --- Show/Hide Password Button --- */
.auth-container .form-group button {
    position: absolute;
    top: 30px;
    right: 5px;
    background: transparent;
    border: none;
    padding: 0.5em;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--grey-4);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.auth-container .form-group button:hover {
    color: var(--base);
    border-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.auth-container .fg-danger {
    color: var(--danger);
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

.auth-container .links {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 10px;
}

.auth-container .success-message {
    padding: 1rem;
    background-color: var(--grey-1);
    color: #108d62;
    border-radius: 8px;
    text-align: left;
    line-height: 1.6;
    font-weight: 500;
}

.auth-container .dob-container {
    display: flex;
    gap: 0.5rem;
}

.auth-container .dob-container select[name="dobMonth"] {
    flex-basis: 25%;
    padding: 0.5rem;
}

.auth-container .dob-container select[name="dobDay"] {
    flex-basis: 25%;
    padding: 0.5rem;
}

.auth-container .dob-container select[name="dobYear"] {
    padding: 0.5rem;
    flex-basis: 50%;
    /* Year is widest */
}

.auth-container .google-signin-button {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    padding: 8px;
}

.auth-container .google-signin-button span {
    margin-left: 12px;
    font-weight: 600;
    color: var(--grey-3);
}

.auth-container .google-signin-button svg {
    width: 20px;
    height: 20px;
}

/*------ The Registration Dropdown -------*/
.auth-container svg {
    top: 10%;
    right: 1%;
}

.auth-container .dropdown-selected {
    padding: 8px;
    border-radius: 8px;
}

.form-hint {
    font-size: smaller;
    color: var(--grey-4);
    margin: -0.25rem 0 0.5rem;
}

/* --- Tablet Overrides --- */
@media (min-width: 768px) {
    .auth-container {
        margin: 50px auto;
    }
}
