.error-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  text-align: center;
  background-color: var(--background);
  color: var(--grey-2);
  margin: auto;
}

.error-content {
  max-width: 500px;
}

.error-message {
  background-color: var(--grey-7);
  color: var(--danger);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin: 1.5rem 0;
  font-family: monospace;
}


/* --- Dark Theme Overrides --- */
@media (prefers-color-scheme: dark) {
  .error-page-container {
    background-color: var(--background);
    color: var(--grey-5);
  }

  .error-message {
    background-color: var(--grey-2);
    color: var(--danger-text);
  }
}