.exchange-page-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2%;
    box-sizing: border-box;
    background-color: var(--primary-bg);
    min-height: calc(100vh - var(--main-header-height) - var(--bottom-nav-height));
}

.card {
    background-color: var(--background);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 8px 4px;
}

/* --- Rates Section --- */
.rates-title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-primary);
    text-align: center;
}

.rates-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 12px;
    gap: 12px;
    position: relative;
}

.exchange-info {
    flex-grow: 1;
}

.profile-link {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.exchange-info span{
    margin-bottom: 3px;
}

.country img {
    width: 20px;
    display: block;
}

.exchange-options {
    color: var(--text-secondary);
    cursor: pointer;
}

/* --- Table Styles --- */
.table-container{
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 2px 0px;
    border-bottom: 1px solid var(--grey-5);
    color: var(--text-secondary);
    vertical-align: middle;
}

thead th {
    font-weight: 600;
    color: var(--text-primary);
    font-size: 0.9rem;
}

tbody td {
    font-size: 1rem;
}

tbody td .currency-input {
    width: 90%;
    padding: 4px 4px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    text-align: end;
    font-size: 0.95rem;
    color: var(--text-secondary);
}

tbody td input:focus {
    outline: none;
    border-color: var(--base);
    color: var(--grey-1);
}

tbody tr:last-child td {
    border-bottom: none;
}

.col-1{
    width: 22%;
}

.col-2, .col-3{
    width: 32.5%;
}

/* Action Icons */
.action-cell {width: 8%;}
.action-cell-icons { display: flex; align-items: center; gap: 2px; }
.action-cell svg { width: 18px; height: 18px; cursor: pointer; }
.add-row-icon svg{ width: 24px; height: 24px; }
.close-row-icon { color: var(--danger);}

/* --- Footer Section --- */
.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    border-top: 1px solid var(--border-color);
    font-size: 0.8rem;
    color: var(--text-secondary);
    min-height: 30px; /* To ensure changes to the footer are reflected */

}

.refresh-rate {
    cursor: pointer;
    color: var(--grey-4);
    display: flex;
    align-items: center;
}

.refresh-rate:hover{
    color: var(--base);
}

.refresh-rate svg{
    width: 24px;
    height: 24px;
}

/* --- Converter Section --- */
.converter-header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid var(--border-color); 
    margin-bottom: 4px;
}

.converter-header span {
    padding: 8px 4px;
    cursor: pointer;
    font-weight: 600;
    color: var(--text-secondary);
    border-bottom: 2px solid transparent;
}

.converter-header span.active {
    color: var(--base);
    border-bottom-color: var(--base);
}

.converter-tabs { 
    display: flex; 
    gap: 20px; 
}

.converter-body {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.converter-column-title {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-primary);
    padding: 0 10px;
}

.converter-row {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--grey-5);
}

.converter-options, .converter-values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.converter-options{
    padding-top: 6px;
}
.converter-values{
    padding-top: 4px;
}

.left-column, .right-column {
    display: flex;
    width: 45%;
}
.converter-row-actions {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-left: auto;
}
.converter-row-actions .action-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    color: var(--text-secondary);
}

.middle-column-static {
    color: var(--text-secondary);
}
.middle-column-static svg{
    width: 20px;
}
.middle-column svg{
    width: 18px;
}

.currency-input{
    width: 100%;
    padding: 4px 2px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-bg);
    font-size: 1rem;
    box-sizing: border-box;
    text-align: end;
}

.converter-row li{
    padding: 4px;
}

.conversion-output-box {
    width: 100%;
    padding: 2px 2px;
    background-color: var(--background);
    font-weight: 500;
    align-items: center;
    text-align: right;
    border-bottom: 1px solid var(--base);
    border-top: 1px solid var(--base);
    overflow-x: auto;
}

@media (min-width: 768px) {
    .exchange-page-container{ 
        min-height: 100%;
    }
}
