svg {
    width: 28px;
    height: 28px;
    transition: color 0.2s ease-in-out;
}

.heart-icon, .chat-icon, .repost-icon{
    width: 20px;
    height: 20px
}

.settings-icon{
    color: var(--grey-3);
}
