/* {L1} --- Main Container --- */
.search-page-container {
  background-color: #ffffff;
  min-height: 100vh;
}

/* {L2} --- Search Bar, Search Page Content ---  */
.search-bar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  /* 12px */
  padding: 0.5rem 1rem;
  /* 8px 16px */
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 10;
}

.search-page-content {
  margin-left: auto;
  margin-right: auto;
}


/* {L3} --- Search Input Wrapper ---} */
.search-input-wrapper {
  position: relative;
  /* This is the key for icon positioning */
  flex-grow: 1;
  /* Allows the input area to take up available space */
}

/* {L4} --- Search Bar Icon, Search Input, Search Clear Icon, Search Cancel Button --- */
.search-input-wrapper .search-bar-icon {
  position: absolute;
  left: 0.75rem;
  /* 12px */
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-4);
  width: 20px;
  height: 20px;
  pointer-events: none;
  /* Makes the icon non-interactive */
}

.search-input {
  width: 100%;
  border: none;
  background-color: var(--grey-7);
  padding: 0.6rem 2.5rem;
  /* Adjust padding for icons */
  border-radius: 9999px;
  color: var(--grey-2);
  outline: none;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--base);
  /* ring-2 ring-blue-400 */
}

.search-input-wrapper .search-clear-icon {
  position: absolute;
  right: 0.75rem;
  /* 12px */
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-4);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.search-cancel-button {
  background: none;
  border: none;
  color: var(--base);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  flex-shrink: 0;
  /* Prevents the button from shrinking */
}

/* --- Utility --- */
.loading-text,
.no-results-text {
  text-align: center;
  padding: 2.5rem 0;
  color: #6b7280;
  /* text-gray-500 */
}

/* --- Dark Theme Overrides --- */
@media (prefers-color-scheme: dark) {
  .search-page-container {
    background-color: var(--primary-bg);
  }

  .search-bar {
    background-color: var(--background);
    border-bottom-color: var(--border-color);
  }

  .search-input-wrapper .search-bar-icon,
  .search-input-wrapper .search-clear-icon {
    color: var(--grey-5);
  }

  .search-input {
    background-color: var(--grey-7);
    color: var(--grey-1);
  }

  .search-input:focus {

    background-color: var(--background);
  }

  .loading-text,
  .no-results-text {
    color: var(--grey-5);
  }
}