.exchange-edit-modal-content {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  position: relative;
}

.exchange-edit-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.exchange-edit-modal-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.exchange-edit-modal-close-button {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #aaa;
  line-height: 1;
  padding: 0.25rem;
}

.exchange-edit-modal-body .form-group {
    margin-bottom: 1rem;
}

.exchange-edit-modal-body label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #333;
}

.exchange-edit-modal-body .form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--grey-5);
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--primary-bg);
}

.exchange-edit-modal-body .form-input:focus {
    outline: none;
    border-color: var(--base);
    background-color: var(--background);
}


.exchange-edit-modal-body .dropdown-selected{
    padding: 8px;
    border-radius: 8px;
}

.exchange-edit-modal-body .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

.exchange-edit-modal-body .cancel-button,
.exchange-edit-modal-body .save-button {
    padding: 0.75rem 1.25rem;
    border-radius: 9999px; /* Pill shape */
    font-weight: 700;
    font-size: 0.95rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.exchange-edit-modal-body .cancel-button {
    background-color: transparent;
    color: var(--grey-2);
    border-color: var(--grey-5);
}

.exchange-edit-modal-body .cancel-button:hover {
    background-color: var(--grey-7);
}

.exchange-edit-modal-body .save-button {
    background-color: var(--grey-1);
    border-color: var(--grey-1);
    color: var(--background);

}

.exchange-edit-modal-body .save-button:hover {
    border-color: var(--base);
    background-color: var(--base);
}

/* --- Dark Theme Adjustments --- */
@media (prefers-color-scheme: dark) {
    .exchange-edit-modal-body .save-button {
        background-color: var(--grey-7);
        color: var(--grey-1);
        border-color: var(--grey-7);
    }
    .exchange-edit-modal-body .save-button:hover {
        background-color: var(--grey-6);
        border-color: var(--grey-6);
    }
    .exchange-edit-modal-body .cancel-button {
        color: var(--grey-6);
        border-color: var(--grey-4);
    }
    .exchange-edit-modal-body .cancel-button:hover {
        background-color: var(--grey-3);
    }
}