

/* --- {L2} Search Overlay Action, Search Overlay Action Hover --- */
.search-overlay-action {
    padding: 0.5rem;
    transition: background-color 0.2s;
    font-weight: 600
}

.search-overlay-action:hover {
    background-color: var(--grey-6);
}
