/* --- {L1} Search Tabs, Results Container --- */
.search-tabs {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.results-container {
  display: flex;
  flex-direction: column;
}

/* --- {L2} Tab Button, Tab Button Active, No Results Container --- */

.search-tabs .tab-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #6b7280;
  /* text-gray-500 */
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  justify-content: center;
}

.search-tabs .tab-button.active {
  color: var(--grey-4);
  /* text-blue-600 */
  border-bottom-color: var(--base);
  /* border-blue-600 */
}


/* Make the "No results" text smaller in the overlay */
.no-results-text {
  padding: 1rem;
  font-size: 0.9rem;
}

.no-results-text.error {
  color: var(--error-red);
}

/* --- Dark Theme Overrides --- */
@media (prefers-color-scheme: dark) {

  .tab-button {
    color: var(--grey-4);
  }

  .tab-button.active {
    color: var(--grey-1);
    border-bottom-color: var(--base);
  }

  .no-results-text {
    color: var(--grey-4);
  }

  .no-results-text.error {
    color: var(--error-red);
  }
}