/* src/components/common/GlobalLoading.css */

.global-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of everything */
    transition: opacity 0.3s ease-in-out;
}

.global-spinner {
    border: 5px solid var(--grey-6);
    border-top: 5px solid var(--base);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .global-loading-overlay {
        background-color: rgba(20, 20, 20, 0.6);
    }
    .global-spinner {
        border-color: var(--grey-3);
        border-top-color: var(--base);
    }
}
