/* This is the spinner animation */
.chat-spinner {
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */
    border: 2px solid var(--grey-6);
    border-top-color: var(--base); 
    border-radius: 50%;
    animation: chat-spin 0.8s linear infinite;
}

@keyframes chat-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}